.startScreen{
    z-index: 1;
    text-align: center;
}
.startScreen h1{
    margin-block: 20px;
    font-size: 50px;
    color: #293264;
}
.startScreen p{
    margin-block: 20px;
    font-size: 28px;
    color: #293264;
}
.startScreen .btn-wrap{
    display: flex;
    justify-content: center;
}
.startScreen button{
    font-size: 20px;
    color: #F5F7FB;
    border: none;
    width: 240px;
    height: 60px;
    background: #4D5B9E;
    border-radius: 15px;
    border: 1px solid transparent;
    transition: 200ms;
}
.startScreen button:hover{
    border: 1px solid #4D5B9E;
    color: #4D5B9E;
    background: #D6DBF5;
}

@media(max-height: 800px){
    .startScreen{
        z-index: 1;
        text-align: center;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
@media(max-width: 1280px){
    .startScreen h1{
        margin-block: 15px;
        font-size: 42px;
    }
    .startScreen p{
        margin-block: 15px;
        font-size: 24px;
    }
    .startScreen button{
        font-size: 17px;
        width: 200px;
        height: 50px;
    }
}
@media(max-width: 425px){
    .startScreen h1{
        font-size: 36px;
    }
    .startScreen p{
        font-size: 22px;
    }
    .startScreen button{
        font-size: 17px;
        width: 185px;
    }
}