@import url(./css/startscreen.css);
@import url(./css/quizScreen.css);
body {
  margin: 0;
  background-color: #F5F7FB;
}
img{
  -webkit-tap-highlight-color: transparent;
}
button{
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
h1{
  font-family: 'Karla', sans-serif;
}
p, button{
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr{
  border: 0.8px solid #DBDEF0;
}
.blob1{
  position: absolute;
  top: 0;
  right: 0;
}
.blob2, .blob3{
  position: absolute;
  bottom: 0;
  left: 0;
}
@media(max-width: 1280px){
  .blob1{
    position: absolute;
    top: 0;
    right: 0;
}
  .blob2, .blob3{
    position: fixed;
    bottom: 0;
    left: 0;
}
}
@media(max-width: 500px){
  main{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
@media(max-height: 800px){
  main{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .blob2, .blob3{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}
}