@import url(./css/startscreen.css);
@import url(./css/quizScreen.css);
body {
  margin: 0;
}
button{
  cursor: pointer;
}
h1{
  font-family: 'Karla', sans-serif;
}
p, button{
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F7FB;
}
hr{
  border: 0.8px solid #DBDEF0;
}
